{% extends 'base.html' %} 

{% block title %}GPT{% endblock %} 

{% block content %} 
{% if user.is_authenticated %}
<div id="app">
{% csrf_token %}
<h2>Status</h2>
<p>
  <ul>
    <li>
      <strong>Token</strong><span class="mx-1">:</span>
      {% if api is not None %}
      <span>{{api.name}}</span>
      {% else %}
      <span>-</span>
      {% endif %}
    </li>
    <li>
      <strong>Model</strong><span class="mx-1">:</span>
      {% if model is not None %}
      <span>{{model.model}}</span>
      <span class="btn btn-sm border mx-2 rounded-pill" title="{{model_detail}}"><strong>Details</strong></span>
      {% else %}
      <span>-</span>
      {% endif %}
    </li>
  </ul>
  {% if status_message_content is not None %}
  <div class="alert alert-{{status_message_severity}}" role="alert">
    <strong>Attention!</strong><span class="mx-2">{{ status_message_content }}</span>
  </div>
  {% endif %}
</p>
<h2>
  <span>Datasets</span>
  <a id="btn-upload" class="btn btn-sm btn-primary mx-3" href="{% url 'gpt-upload' %}" role="button">Upload</a></h2>
<p>
  <div>List of existing datasets.</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Tag</th>
          <th scope="col">Prompts total</th>
          <th scope="col">Prompts enabled</th>
          <th scope="col">Created at</th>
          <th scope="col">Status</th>
          <th scope="col">Evaluations</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for dsi in dataset_info %}
        <tr>
          <td>{{dsi.id}}</td>
          <td>{{dsi.tag}}</td>
          <td>{{dsi.prompts_count_all}}</td>
          <td>{{dsi.prompts_count_enabled}}</td>
          <td>{{dsi.created_at}}</td>
          <td>{{dsi.status}}</td>
          <td>{{dsi.evaluations}}</td>
          <td>
            <button type="button" class="btn btn-{{dsi.action|yesno:'success,warning'}} btn-sm" :disabled="lock" @click="act('{{ dsi.action }}', {{ dsi.id }})">
              {{ dsi.action }}
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</p>
<h2>Iterations</h2>
<p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Model</th>
          <th scope="col">Token</th>
          <th scope="col">Created at</th>
          <th scope="col">Created by</th>
          <th scope="col">Status</th>
          <th scope="col">Cost</th>
          <th scope="col">Tag</th>
          <th scope="col">Export URL</th>
        </tr>
      </thead>
      <tbody>
        {% for ii in iteration_info %}
        <tr>
          <td>{{ii.id}}</td>          
          <td>{{ii.model}}</td>          
          <td>{{ii.token}}</td>     
          <td>{{ii.created_at}}</td>          
          <td>{{ii.created_by}}</td>          
          <td>{{ii.status}} ({{ii.completitions_finished}}/{{ii.prompts_enabled}}, {{ii.completitions_error}} errors)</td>
          <td>{{ii.cost}}$</td>
          <td>{{ii.dataset_tag}}</td>    
          <td><a href={% url 'gpt-export' %}?itr_id={{ii.id}}>Export</a></td>    
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</p>
</div>
<script>
  const { createApp } = Vue
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  const apiUrl = "{% url 'gpt-action' %}"
  createApp({
    data() {
      return {
        lock: false
      }
    },
    methods: {
      async act(action,id){
        if (confirm(`Are you sure? Action '${action}' will be triggered!`)){
          this.lock = true
          try {
            await $.ajax({
              url: `${apiUrl}?action=${action}&ds_id=${id}`,
              type: 'post',
              headers: {'X-CSRFToken': csrftoken},
              mode: 'same-origin',
            })
          } catch(e) {
            alert(e.responseText)
            this.lock = false
            return
          }
          location.reload();
        }
      },
    }
  }).mount('#app')
</script>
{% endif %}
{% endblock %}
