{% extends 'base.html' %} 

{% block title %}GPT{% endblock %} 

{% block content %} 
{% if user.is_authenticated %}
<div id="app">
{% csrf_token %}
<h2>Status</h2>
<p>
  <ul>
    <li>
      <strong>Token</strong><span>:</span>
      {% if api is not None %}
      <span>{{api.key}}</span>
      {% else %}
      <span>-</span>
      {% endif %}
    </li>
    <li>
      <strong>Model</strong><span>:</span>
      {% if model is not None %}
      <span>{{model.model}}</span>
      {% else %}
      <span>-</span>
      {% endif %}
    </li>
  </ul>
  {% if status_message_content is not None %}
  <div class="alert alert-{{status_message_severity}}" role="alert">
    <strong>Attention!</strong><span class="mx-2">{{ status_message_content }}</span>
  </div>
  {% endif %}
</p>
<h2>
  <span>Datasets</span>
  <a id="btn-upload" class="btn btn-sm btn-primary mx-3" href="{% url 'gpt-upload' %}" role="button">Upload</a></h2>
<p>
  <div>List of existing datasets.</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Tag</th>
          <th scope="col">Total/enabled/evaluated</th>
          <th scope="col">Created at</th>
          <th scope="col">Status</th>
          <th scope="col">Evaluations</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for dsi in dataset_info %}
        <tr>
          <td>{{dsi.id}}</td>
          <td>{{dsi.tag}}</td>
          <td>{{dsi.prompts_count_all}}/{{dsi.prompts_count_enabled}}/{{dsi.prompts_count_evaluated}}</td>
          <td>{{dsi.created_at}}</td>
          <td>{{dsi.status}}</td>
          <td>{{dsi.evaluations}}</td>
          <td>
            <button type="button" class="btn btn-{{dsi.action|yesno:'success,warning'}} btn-sm" :disabled="lock" @click="act('{{ dsi.action }}', {{ dsi.id }})">
              {{ dsi.action }}
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</p>
<h2>Iterations.</h2>
<p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Created at</th>
          <th scope="col">Created by</th>
          <th scope="col">Tag</th>
          <th scope="col">Model</th>
          <th scope="col">Token</th>
        </tr>
      </thead>
      <tbody>
        {% for ii in iteration_info %}
        <tr>
          <td>{{ii.id}}</td>          
          <td>{{ii.created_at}}</td>          
          <td>{{ii.created_by}}</td>          
          <td>{{ii.dataset_tag}}</td>          
          <td>{{ii.model}}</td>          
          <td>{{ii.token}}</td>          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</p>
</div>
<script>
  const { createApp } = Vue
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  const apiUrl = "{% url 'gpt-action' %}"
  createApp({
    data() {
      return {
        lock: false
      }
    },
    methods: {
      async act(action,id){
        this.lock = true
        try {
          await $.ajax({
            url: `${apiUrl}?action=${action}&ds_id=${id}`,
            type: 'post',
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin',
          })
        } catch(e) {
          alert(e.responseText)
          this.lock = false
          return
        }
        location.reload();
      },
    }
  }).mount('#app')
</script>
{% endif %}
{% endblock %}
