{% extends 'base.html' %}

{% block title %}Manual{% endblock %}

{% block content %}
<h2>Introduction</h2>
<p>
  This application is a custom developed tool for Dalibor Cmolik by Cherniaev Egor (chrnyaevek@gmail.com). Application process excel and pass each line to Chat GPT with saving results.
</p>
<h3>Setup</h3>
<p>
  To setup application:
  <ol>
    <li>Login to OpenAI account (https://platform.openai.com/) and create API key (make sure to save it somewhere!).</li>
    <li>
      Go to `administration` and create `Api` and `GptModel`. Check <a href="https://platform.openai.com/docs/models/how-we-use-your-data">this page</a> to learn more about models. 
      <strong>Check `is_enabled` to activate model and api. Make sure to have only one enabled model and api!</strong>. By disabling model or api you may change model that is used in processing.
    </li>
  </ol>
</p>
<h3>Excel uploading</h3>
<p>
  To process the excel first you need to upload it to the app. The excel <strong>MUST</strong> follow this format:
  <ul>
    <li><strong>prompt</strong>, required column with text that will be sent to Chat GPT. Each line will be filtered with HTML filter (HTML will be removed) before storing to database..</li>
    <li><strong>product_sku</strong>, optional column with prompt identifier (some unique value like product sku)</li>
  </ul>
  Go to home page and hit `Upload` button. In the next windows upload required excel, `tag` is dataset name for your orientation. After you press `Upload` button excel will be loaded to database.
</p>
<h3>Excel processing</h3>
<p>
  After upload you may want to process excel with Chat GPT. To do so go to home page and forst of all make sure that model and api are selected in `Status` section. In the list
  of datasets you need to find the one you uploaded. Check that it contains expected prompts amount. To start processing hit `Process` button and confirm processing. To stop processing hit `Stop` button (no conformation).
  <strong>To see current status of processing refresh the page</strong>. To export results find latest `Iteration` in list of iterations on main page and hit `Export` link.
</p>
<p>
  Exported file will contain <strong>modified</strong> prompt text text which was passed to model and model response. If you see error text and no response from model, that means that OpenAI server failed to process this request.
  Try this prompt in playground and repeat processing. <strong>Dataset is processed with all prompts that it contains! Even if prompt has already been evaluated! </strong> This simplifies system and
  make it more predictable, so just create new dataset with required prompts. Sometimes chat return empty message - hit retry to run over empty completions only.
</p>
<h2>Contacts</h2>
<p>
  Cherniaev Egor, developer.
  <ul>
    <li><a href="https://www.facebook.com/cherniaev.public/">Facebook</a></li>
    <li><a href="mailto:chrnyaevek@gmail.com">chrnyaevek@gmail.com</a></li>
    <li>+420777838323</li>
  </ul>
</p>
{% endblock %}
