{% extends 'base.html' %} 

{% block title %}GPT Upload{% endblock %} 

{% block content %} 
{% if user.is_authenticated %}
<h2>Upload</h2>
<p>Excel (or csv with ';' delimiter) must have <strong>{{excel_prompt_col}}</strong> column with prompt text and may have <strong>{{excel_prompt_key}}</strong> column with prompt key (e.g. sku number) </p>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  {% if upload_message_content is not None %}
    <div class="alert alert-{{upload_message_severity}}" role="alert">
      <strong>Attention!</strong><span class="mx-2">{{ upload_message_content }}</span>
    </div>
  {% endif %}
  <div class="w-100 d-flex justify-content-end">
    <a class="btn btn-sm btn-standard border mx-3" href="{% url 'home' %}">Cancel</a>
    <button class="btn btn-sm btn-primary" type="submit">Upload</button>
  </div>
</form>
{% if upload_log is not None %}
<div class="text-muted m-2 fs-6 lh-sm">
  {{ upload_log|join:"</br>" }}
</div>
{% endif %}
{% endif %}
{% endblock %}
